
# global appears to be getting defined automatically and then this file is dumped into it after
    log /dev/log local0
    # chroot /var/lib/haproxy # we may want to turn this on when we go about hardening things
    user haproxy
    group haproxy
    daemon
    
defaults http_defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
  
  
frontend http_front from http_defaults
    bind :80
    #bind :443 ssl crt ./certifcate/path
    
    use_backend matrix if { hdr(host) -i matrix.panopticom.online }
    use_backend grafana if { hdr(host) -i monitor.lolipopsandhandgrenades.org }
    
    # default to denying request
    #http-request deny
    
frontend prometheus from http_defaults
    bind :8405
    http-request use-service prometheus-exporter
    no log

backend matrix from http_defaults
    server grafana-on-nox 127.0.0.1:2342
    
backend grafana from http_defaults
    server grafana-on-nox 127.0.0.1:2342
